# Ignore editor and IDE files
.vscode/
.idea/

# Ignore build output
build/
dist/

# Ignore dependency directories
node_modules/
vendor/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore sensitive or private files
secrets.txt
private.key

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore package lock files
package-lock.json
yarn.lock

# Ignore macOS specific files
.DS_Store

deployment/custom-buildah-scc.yaml